/* TODO: Move these to App-styled.js */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #6aa84f;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  background: #f5f5f5;
  width: 500px;
  height: 99%;
  overflow-y: auto;
}

.toolbar {
  /* background: #6aa84f; */
  background: #282c34;
  padding: 0.5rem;
}
