html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

/* old App.css styles... */

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #6aa84f;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  background: #f5f5f5;
  width: 500px;
  height: 99%;
  overflow-y: auto;
}

.toolbar {
  /* background: #6aa84f; */
  background: #282c34;
  padding: 0.5rem;
}
